<!doctype html>
{% load staticfiles %}
<html lang="en" >
<head>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Visitor Management</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <!--  Popup window CSS    -->
    <link href="{% static "css/popupjquery.css" %}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static "css/demo.css" %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static "css/pe-icon-7-stroke.css" %}" rel="stylesheet" />
    <meta charset="utf-8">
  	<title>jQuery UI Datepicker - Default functionality</title>
  	<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" rel="stylesheet"> 		
  	<link rel="stylesheet" href="/resources/demos/style.css">
  	

</head>
<body onload="intime()">
<div class="wrapper">
{% include 'sidebar.html' %}

 <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Summary</a>
                </div>

                <div class="collapse navbar-collapse">
                   
        </nav>

                <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div >
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Total Visitor List</h4>
                                <p class="category">Details</p>
                            </div>
                                
                            <div width="100%" class="content table-responsive table-full-width">
                                <div style="float:left;width: 27%;">
                                  <table  class="table table-hover table-striped" id="pro" >
                                      <thead>
                                      <th style = "font-size: 1.5em;">Name</th>
                                      </thead>
                                    {% for table in staff %}
                                            <tr>
                                            <td > <a  href="{{table.person_id}}">{{table.name}}</a></td></tr>
                                    {% endfor%}
                                </table>
                                    </div>
                                <div style="width: 73%;float:right;">
                                <table class="table table-hover table-striped" id="pro" >
                                    <thead>
                                        <th style = "font-size: 1.5em;">Post</th>
                                        <th style = "font-size: 1.5em;">Department</th>
                                        <th style = "font-size: 1.5em;">Location</th>
                                        
                                    </thead>
                                    <tbody>
                                    {% for table in staff_member %}
                                        <tr data-popup-open="popup-1">
                                            <!-- <td class="side-link" value={{table.person_id}} onclick="profile()"><a  href="#userProfile" data-target="#userProfile" data-toggle="modal" >{{table.staff_type}}</a></td> -->
                                            <td>{{table.staff_type}}</td>
                                            <td >{{table.department}}</td>
                                            <td>{{table.location}}</td>
                                            
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <!--<div style="background-color:white; border-style: solid; border-color: #ff0000 #0000ff; color: black; text-align:center;z-index: 100; position: fixed; top: 100px;" id="visitor_profile"></div>-->
        
    </div>
</div>
<div width="90%"class="modal fade" id="userProfile" role="dialog">
   <div class="modal-dialog" style="width: 90%;">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">User Profile</h4>
         </div>
         <div class="modal-body">
            <p id="profiledata">
                         
            </p>
         </div>

      </div>

   </div>
</div>

</body>

     <!--   Core JS Files   -->
    <script type="text/javascript">
        onload
    </script>>
    <script src="{% static "js/jquery-1.10.2.js" %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>

 
    <script src="{% static "js/bootstrap-checkbox-radio-switch.js" %}"></script>

    <!--  Charts Plugin -->
    <script src="{% static "js/chartist.min.js" %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static "js/bootstrap-notify.js" %}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="{% static "js/demo.js" %}"></script>

    <script src="{% static "js/jquery-ui.js" %}"></script>

    <script>
        $(function() {
            $("#datepicker").datepicker();
        });
        $(function() {
            $("#datepicker1").datepicker();
        });
    </script>
    <script type="text/javascript">
        function intime() {

            $(function() {
                $("#datepicker").datepicker();
            });
            $(function() {
                $("#datepicker1").datepicker();
            });
   
            var date1 = document.getElementById("datepicker").value;
            var date2 = document.getElementById("datepicker1").value;
            date1 =  String(date1);
            //var EnteredDate = $("#txtdate").val(); // For JQuery
            date2 =  String(date2);
            //date = date1.concat(date2);
            date1 =  String(date1);
            var date = date1.substring(3, 5);
            var month = date1.substring(0, 2);
            var year = date1.substring(6, 10);
            var myDate1 = new Date(year, month - 1, date);

            var date = date2.substring(3, 5);
            var month = date2.substring(0, 2);
            var year = date2.substring(6, 10);

            var myDate2 = new Date(year, month - 1, date);
            if (myDate1 > myDate2) {
                document.getElementById("error").innerHTML = "Date must be greater";
                $("#datepicker1").val('');
                document.getElementById("datepicker1").value = "";
                $(document).ready( function() {
                    $('#error').delay(3000).fadeOut();
                });
            }
            
                $.get('/visitor/table1', {terid: date1, date2 : date2}, function (data) {
                    alert(data);
                    document.getElementById("sample").innerHTML = data;
                });
            
            
        }
    </script>
    <script type="text/javascript">
    //profile   

     function profile() {
        $("#pro").on('click','.side-link',function(e){
            e.preventDefault();
            var id = $(this).attr('value');
            $.get('/visitor/staff/profile/', {profileId : id}, function (data) {
                //alert(data);
                document.getElementById("profiledata").innerHTML = data;
            });
        });     
    }    

    </script>

    <script type="text/javascript">
        
    </script>>
</html>
